@inherits LayoutComponentBase
@using System.Runtime.InteropServices

<div class="page container p-4 border" style="min-height: 40em;">
        <h3>BlazorTools Test @RuntimeInformation.FrameworkDescription </h3>
    @Body
</div>
